:root {
  --branco: #fff;
  --preto: rgba(0,0,0,0.5);
}

body {
  background-image: url("https://images3.alphacoders.com/169/169085.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.texto {
  position: absolute;
  background-color: var(--preto);
  color:var(--branco);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  top: 20px;
  width: 250px;
  line-height: 100px;
  height: 100px;
  right: 40%;

}

.bateria {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    padding: 170px;
    top: 300px;
    align-items: center;
   
}

button {
  transition: all 0.5s;
  cursor: pointer;
 
}

